.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 15px;
    width: fit-content;

    padding: 20px 0;

    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);

    color: white;
    font-weight: 700;
    font-size: 15px;
    background-color: rgb(131, 48, 113);;


    div[class*='rce'] {
        svg {
            display: none;
        }
        min-width: initial;
    }

    div[class*='rce-mbox'] {
        background: transparent;
        box-shadow: initial;
    }

    div[class*='rce-mbox-title'] {
        color: var(--custom-blue);
        font-size: 15px;
    }


}

.questionContainer {
    background-color: var(--light-color);
    color: var(--accent-color);
    width: 100%;

    position: relative;
    display: flex;
    align-items: center ;
    justify-content: space-between;
}

.answerInteraction {
    display: flex;
    width: 100%;
    padding-left: 10px;
    
    color: var(--custom-orange);
    font-weight: bold;
    padding: 10px;
    cursor: pointer;

    span {
        padding-left: 20px;
    }
}